.container {
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem;
  margin-top: 6rem;
  width: 100%;
}

.addBarContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 100%;
  width: 528px;
}

.search {
  border: solid 1px;
  border-radius: 6px;
  border-style: dashed;
  padding-left: 30px;
}

.iconContainer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-start;
  padding: 0.75rem 3.5rem;
  background-color: white;
  border-radius: 0.375rem;
  border: 2px dashed #e5e5e5;
  width: fit-content;
}

.icon {
  object-fit: contain;
  width: 1.25rem;
  aspect-ratio: 1;
}

.addButton {
  overflow: hidden;
  gap: 0.5rem;
  align-self: stretch;
  padding: 0 2.75rem 0 3rem;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  color: white;
  background-color: #2563eb;
  min-height: 45px;
  border-radius: 9999px;
  width: 212px;
}

.table {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 45px 112px rgba(0, 0, 0, 0.06);
  color: #27272a;
}

.tableHeader {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex: 1 1 0%;
  gap: 1.25rem;
  align-items: center;
  padding: 0 0.625rem;
  min-width: 240px;
  width: 100%;
  height: 100%;
}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex: 1 1 0%;
  gap: 1.25rem;
  align-items: center;
  padding: 0 0.625rem;
  min-width: 240px;
  width: 100%;
  height: 100%;
}

.headerItem {
  flex: 1 1 0%;
  gap: 0.625rem;
  align-self: stretch;
  margin: auto 0;
  min-height: 40px;
}

.headerItem:nth-child(1) {
  width: 118px;
}

.headerItem:nth-child(2) {
  min-width: 240px;
  width: 360px;
}

.headerItem:nth-child(3) {
  width: 160px;
  white-space: nowrap;
}

.headerItem:nth-child(4) {
  width: 135px;
}

.headerItem:nth-child(5),
.headerItem:nth-child(6) {
  width: 100px;
}

.headerItem:nth-child(7) {
  width: 80px;
  white-space: nowrap;
}

.tableRow {
  display: flex;
  width: 100%;
  background-color: white;
  border: 1px solid #fef3c7;
  min-height: 60px;
}

.rowContent {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  /* flex: 1 1 0%; */
  /* gap: 1.25rem; */
  min-width: 240px;
  width: 100%;
  height: 100%;
}

.name {
  overflow: hidden;
  align-self: stretch;
  height: 100%;
  line-height: 4;
  width: 120px;
}

.address {
  flex: 1 1 0%;
  /* gap: 0.625rem; */
  padding-top: 1.25rem;
  height: 100%;
  min-width: 240px;
  max-width: 321px
}

.email {
  flex: 1 1 0%;
  /* gap: 0.625rem; */
  padding-top: 1.25rem;
  max-width: 207px;
  height: 100%;
  white-space: nowrap;
}

.phone {
  flex: 1 1 0%;
  /* gap: 0.625rem; */
  padding-top: 1.25rem;
  text-align: center;
  height: 100%;
  white-space: nowrap;
  max-width: 149px;
}

.openTime {
  flex: 1 1 0%;
  /* gap: 0.625rem; */
  align-self: stretch;
  height: 100%;
  line-height: 4;
  max-width: 349px;
  margin-left: -28px;
}

.closeTime {
  /* flex: 1 1 0%; */
  /* gap: 0.625rem; */
  padding-top: 1.25rem;
  height: 100%;
  max-width: 346px;
  margin-left: 20px;
}

.status {
  flex: 1 1 0%;
  display: flex;
  /* gap: 0.625rem; */
  width: 80px;
  height: 100%;
  font-weight: bold;
  color: #22c55e;
  white-space: nowrap;
}

.statusText {
  flex: 1 1 0%;
  margin-top: 1.25rem;
  text-overflow: ellipsis;
}

.statusIcon {
  object-fit: contain;
  line-height: 4;
  flex-shrink: 0;
  margin: auto 0;
  aspect-ratio: 1;
  width: 30px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 2.5rem;
    max-width: 100%;
  }

  .iconContainer {
    padding-left: 1.25rem;
  }

  .addButton {
    padding: 0 1.25rem;
  }

  .table {
    margin-top: 2.5rem;
    max-width: 100%;
  }

  .tableHeader {
    max-width: 100%;
  }
}