/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation for fade-in and fade-out */
.popup-enter {
  opacity: 0;
  transform: scale(0.95);
}

.popup-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-exit {
  opacity: 1;
  transform: scale(1);
}

.popup-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Custom spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spin 1s linear infinite;
  border-top-color: #ffffff; /* Adjust color as needed */
}

/* Thêm vào cuối file */
.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

